<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

{{ partial "head.html" . }}

<body class=" bg-gray-50 max-w-screen min-w-screen">
    {{ partial "header.html" . }}
    <div class="hidden bg-gray-50 py-5 md:flex lg:flex">
        <aside class="grow-0 w-40 mr-2">

            {{ partial "logo.html" . }}

            {{ partial "menu.html" . }}

            {{ partial "search.html" . }}

            {{ partial "links.html" . }}

        </aside>
        <main class="grow mt-4 border border-r-0 border-gray-500 bg-white">
            <div id="content" class="p-4">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
    </div>

    {{ partial "mobile.html" . }}

    {{ partial "footer.html" . }}
</body>

</html>